<VirtualHost *:80>
{% if storyboard_server_admin is defined %}
    ServerAdmin {{ storyboard_server_admin }}
{% endif %}
    ServerName {{ storyboard_fqdn }}

    DocumentRoot {{ storyboard_www_root }}

    Redirect / https://{{ storyboard_fqdn }}/

    LogLevel warn
    ErrorLog ${APACHE_LOG_DIR}/storyboard-error.log
    CustomLog ${APACHE_LOG_DIR}/storyboard-access.log combined

</VirtualHost>
<IfModule mod_ssl.c>
  <VirtualHost *:443>
{% if storyboard_server_admin is defined %}
    ServerAdmin {{ storyboard_server_admin }}
{% endif %}
    ServerName {{ storyboard_fqdn }}

    LogLevel warn
    ErrorLog ${APACHE_LOG_DIR}/storyboard-ssl-error.log
    CustomLog ${APACHE_LOG_DIR}/storyboard-ssl-access.log combined

    SSLEngine on
    SSLProtocol all -SSLv3 -SSLv2
    SSLHonorCipherOrder On
    SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH

    SSLCertificateFile      /etc/ssl/certs/{{ storyboard_ssl_cert | basename }}
    SSLCertificateKeyFile   /etc/ssl/private/{{ storyboard_ssl_key | basename }}
{% if storyboard_resolved_ssl_ca is defined %}
    SSLCertificateChainFile /etc/ssl/certs/{{ storyboard_resolved_ssl_ca | basename}}
{% endif %}

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
      SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
      SSLOptions +StdEnvVars
    </Directory>

    BrowserMatch "MSIE [2-6]" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0
    # MSIE 7 and newer should be able to use keepalive
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

    DocumentRoot {{ storyboard_www_root }}

    WSGIDaemonProcess storyboard user=www-data group=www-data threads=5 python-path=/usr/local/lib/python2.7/dist-packages
    WSGIScriptAlias /api /var/lib/storyboard/storyboard.wsgi
    WSGIPassAuthorization On

    <Directory "{{ storyboard_install_root }}">
{% if apache_vhosts_version == "2.4" %}
        Require all granted
{% else %}
        Order allow,deny
        Allow from all
{% endif %}
    </Directory>
  </VirtualHost>
</IfModule>
