description "StoryBoard Deferred Workers"

start on runlevel [2345]
stop on starting rc RUNLEVEL=[016]

respawn
respawn limit 2 5

setuid www-data
setgid www-data

script
  storyboard-worker-daemon --worker-count {{ storyboard_worker_count }}
end script
